.App {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f1e0cd;
}

.title-loading {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #4a3e28;
  text-align: center;
}

.title-cover {
  font-family: "Baloo 2", cursive;
  font-weight: bold;
  font-size: 50px;
  line-height: 50px;
  color: #fdd65d;
}

.txt-letter-01 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #4a3e28;
  text-align: center;
}

.txt-letter-momo {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
}

.txt-letter-02 {
  font-family: "Baloo 2", cursive;
  font-weight: bold;
  font-size: 70px;
  line-height: 75px;
  color: #ae3225;
  text-align: center;
}

.txt-letter-03 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  line-height: 34px;
  color: #4a3e28;
  text-align: center;
  margin-bottom: 5px;
}

.txt-letter-04 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 70px;
  line-height: 70px;
  color: #4a3e28;
  text-align: center;
}

.txt-letter-05 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
  line-height: 45px;
  color: #ae3225;
  text-align: center;
}

@media (max-width: 520px) {
  .title-loading {
    font-family: "Josefin Sans", sans-serif;
    font-size: 4vw;
    line-height: 5.6vw;
    color: #4a3e28;
  }
  .title-cover {
    font-family: "Baloo 2", cursive;
    font-weight: bold;
    font-size: 10vw;
    line-height: 10vw;
    color: #fdd65d;
  }
  .txt-letter-01 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 4vw;
    line-height: 5.6vw;
    color: #4a3e28;
    text-align: center;
  }
  .txt-letter-momo {
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-size: 5vw;
    line-height: 5.6vw;
    text-align: center;
    text-decoration: none;
  }

  .txt-letter-02 {
    font-family: "Baloo 2", cursive;
    font-weight: bold;
    font-size: 12vw;
    line-height: 14vw;
    color: #ae3225;
    text-align: center;
  }

  .txt-letter-03 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 5vw;
    line-height: 7vw;
    color: #4a3e28;
    text-align: center;
    margin-bottom: 10px;
  }

  .txt-letter-04 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    font-size: 12vw;
    line-height: 12vw;
    color: #4a3e28;
    text-align: center;
  }

  .txt-letter-05 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 6vw;
    line-height: 8vw;
    color: #ae3225;
    text-align: center;
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #ae3225;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
